
h1, h6{
  font-family:  'Halimun', sans-serif;
  }
h4{
  font-family:  "Century Gothic";
}
h5{
  font-family:  'Halimun', sans-serif;
  font-size: small;
  color: grey;
}
body {
  margin: 0;
  font-family: 'Pathway Gothic One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgText{
  width: 200px;
  height: 300px;
}
.containertext{
  padding: 5%;
  flex-wrap: wrap;
}
.LogoImg{
  padding-left: 2%;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
}
.Title, d-flex w-auto mb-3{
  padding-left: 2%;
  padding-top: 8%;
  padding-right: 4%;
  padding-bottom: 2%;
}
